<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search results for "<%= searchTerm %>"</h1>

    <% if (foundBooks.length > 0) { %>
      <ul>
        <% foundBooks.forEach(function(book) { %>
          <li><%= book.name %>, £<%= Number(book.price).toFixed(2) %></li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No books found matching "<%= searchTerm %>".</p>
    <% } %>
  </body>
</html>